<h1 class="my_page_title"><%= @usr+"さんのページ" %></h1>
<br><br><br>
<section class = "blog">
<h2 class="blog-headline">会員リスト</h2><br>    
<h3 class="menu_heda">過去問</h3>
  <br>
  <% if @answers.present? %>
    <% @answers.each do |f| %>
     <h5 class="title_h3"><ul class = "foo2"><li>平成<%= f.year %>  </li><li>事例<%= f.jirei %>　</li><li><%= f.created_at.strftime('%Y/%m/%d') %></li><li><%= button_to "見る" %></li><li><%= button_to "作成" %></li></ul></h5>
    <% end %>
   <br>
　<% else %>
      <p>登録された過去問はありません。</p>
      <br>
  <% end %>
  
<h3 class="menu_heda">事例問題</h3>
  <br>
  <% if @drills.present? %>
    <% @drills.each do |f| %>
     <% if f.id = 1 %>
     <% @jirei = ':1-3-1' %>
     <% elsif f.id = 2 %>
     <% @jirei = ':1-3-2' %>
     <% elsif f.id = 3 %>
     <% @jirei = ':1-3-3' %>
     <% elsif f.id = 4 %>
     <% @jirei = ':1-4-1' %>
     <% elsif f.id = 5 %>
     <% @jirei = ':1-4-2' %>
     <% elsif f.id = 6 %>
     <% @jirei = ':2-1-1' %>
     <% elsif f.id = 7 %>
     <% @jirei = ':2-1-2' %>
     <% elsif f.id = 8 %>
     <% @jirei = ':2-1-3' %>
     <% elsif f.id = 9 %>
     <% @jirei = ':2-1-4' %>
     <% elsif f.id = 10 %>
     <% @jirei = ':2-1-5' %>
     <% elsif f.id = 11 %>
     <% @jirei = ':2-1-6' %>
     <% elsif f.id = 12 %>
     <% @jirei = ':2-2-1' %>
     <% elsif f.id = 13 %>
     <% @jirei = ':2-2-2' %>
     <% elsif f.id = 14 %>
     <% @jirei = ':2-2-3' %>
     <% elsif f.id = 15 %>
     <% @jirei = ':2-2-6' %>
     <% elsif f.id = 16 %>
     <% @jirei = ':2-2-7' %>
     <% elsif f.id = 17 %>
     <% @jirei = ':2-3-2' %>
     <% elsif f.id = 18 %>
     <% @jirei = ':2-3-3' %>
     <% end %>
     <h5 class="title_h3"><ul class = "foo2"><li>事例番号<%= @jirei %> </li> <li><%= f.created_at.strftime('%Y/%m/%d') %></li><li> </li> <li><%= button_to "見る" %></li><li><%= button_to "削除" %></li></ul></h5>  
    <% end %>
   </table>
   <br>     
  <% else %>
      <p>登録された事例企業分析はありません。</p>
      <br>    
  <% end %>

<h3 class="menu_heda">Tolk</h3>
  <br>
  <% if @titles.present? %>
    <% @titles.each do |f| %>
       <h5 class="title_h3"><ul class = "foo2"><li><%= f.title %></li> <li><%= f.created_at.strftime('%Y/%m/%d') %><li></li><li><%= button_to "見る" %></li>　<li><%= button_to "削除" %></li></ul></h5>           
    <% end %>
  <% else %>
      <p>Tolkに設定したテーマはありません。</p>
      <br>
  <% end %>
 <br>
 <br>
<h3 class="menu_heda">プロフィール</h3>
  <br>
  <% if @prof.present? %>
    <% @prof.each do |f| %>
       <h5 class="title_h3"><ul class = "foo2"><li>登録日時：</li><li><%= f.created_at.strftime('%Y/%m/%d') %></li><li>ID:<%= f.id %></li><li><%= button_to "削除", destroy_mine_path(f.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></li></ul></h5>           
    <% end %>
  <% else %>
      <p>プロフィールは、登録されていません。</p>
      <br>
  <% end %>  
<br>
<br>
<br>
 <%= link_to :back do %>
   <button>戻る</button>
 <% end %>
</section>
   <div class = "sidebar">
     <section class="popular">
        <h2 class="sidebar-headline">サイトメニュー</h2>
        <div class="sidebar-contents">
          <p class="popular-text">　<%= link_to '会員リスト', members_path %></p>      
          <p class="popular-text">　<%= link_to 'Tolk', titles_path %></p> 
          <p class="popular-text">　<%= link_to '過去問分析', answers_path %></p>
          <p class="popular-text">　<%= link_to '事例企業分析', drills_path %></p> 
         </div>
      </section>
   </div>
 <br>
 <br>
 </div>

