<% @id %>
<%  if @id == "301" then %>
  <h1>平成30年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/301.pdf" width="100%" height="500px"></iframe>
<%  elsif @id == "302" then %>  
  <h1>平成30年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/302.pdf" width="100%" height="500px"></iframe> 
<%  elsif @id == "303" then %>  
  <h1>平成30年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/303.pdf" width="100%" height="500px"></iframe>   
<%  elsif @id == "291" then %>  
  <h1>平成29年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/291.pdf" width="100%" height="500px"></iframe>       
<%  elsif @id == "292" then %>  
  <h1>平成29年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/292.pdf" width="100%" height="500px"></iframe>       
<%  elsif @id == "293" then %>  
  <h1>平成29年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/293.pdf" width="100%" height="500px"></iframe>       
<%  elsif @id == "281" then %>  
  <h1>平成28年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/281.pdf" width="100%" height="500px"></iframe>       
<%  elsif @id == "282" then %>  
  <h1>平成28年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/282.pdf" width="100%" height="500px"></iframe>       
<%  elsif @id == "283" then %>  
  <h1>平成28年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/283.pdf" width="100%" height="500px"></iframe>       
<%  elsif @id == "283" then %>  
  <h1>平成28年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/283.pdf" width="100%" height="500px"></iframe>       
<%  elsif @id == "271" then %>  
  <h1>平成27年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/271.pdf" width="100%" height="500px"></iframe>       
<%  elsif @id == "272" then %>  
  <h1>平成27年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/272.pdf" width="100%" height="500px"></iframe>        
<%  elsif @id == "273" then %>  
  <h1>平成27年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/273.pdf" width="100%" height="500px"></iframe>        
<%  elsif @id == "261" then %>  
  <h1>平成26年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/261.pdf" width="100%" height="500px"></iframe>
<%  elsif @id == "262" then %>  
  <h1>平成26年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/262.pdf" width="100%" height="500px"></iframe>  
<%  elsif @id == "263" then %>  
  <h1>平成26年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/263.pdf" width="100%" height="500px"></iframe>        
<%  elsif @id == "251" then %>  
  <h1>平成25年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/251.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "252" then %>  
  <h1>平成25年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/252.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "253" then %>  
  <h1>平成25年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/253.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "241" then %>  
  <h1>平成24年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/241.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "242" then %>  
  <h1>平成24年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/242.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "243" then %>  
  <h1>平成24年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/243.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "231" then %>  
  <h1>平成23年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/231.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "232" then %>  
  <h1>平成23年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/232.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "233" then %>  
  <h1>平成23年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/233.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "221" then %>  
  <h1>平成22年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/221.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "222" then %>  
  <h1>平成22年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/222.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "223" then %>  
  <h1>平成22年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/223.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "211" then %>  
  <h1>平成21年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/211.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "212" then %>  
  <h1>平成21年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/212.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "213" then %>  
  <h1>平成21年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/213.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "201" then %>  
  <h1>平成20年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/201.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "202" then %>  
  <h1>平成20年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/202.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "203" then %>  
  <h1>平成20年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/203.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "191" then %>  
  <h1>平成19年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/191.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "192" then %>  
  <h1>平成19年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/192.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "193" then %>  
  <h1>平成19年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/193.pdf" width="100%" height="500px"></iframe>      
  <iframe src="/assets/194.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "181" then %>  
  <h1>平成18年度</h1>
  <h2>事例1</h2>
  <iframe src="/assets/181.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "182" then %>  
  <h1>平成18年度</h1>
  <h2>事例2</h2>
  <iframe src="/assets/182.pdf" width="100%" height="500px"></iframe>      
<%  elsif @id == "183" then %>  
  <h1>平成18年度</h1>
  <h2>事例3</h2>
  <iframe src="/assets/183.pdf" width="100%" height="500px"></iframe>      
<% end %>

<br>
<br>
<br>

<!-- form_for部分 -->
<%= form_for(@answer) do |f| %>
      <h4>【 要約 】<h4>
　　　<p>事例企業の特徴、課題を要約してください。</p>
      <%= f.text_area :summary, :size=>"115x10"%><br>
      <br>
      <h4>【 設問を考察する。】<h4>
      <br>      
      <p>あなたが、要約した企業の課題を改善し、あるべき姿を浮き彫りにする内容を具体化するには、<br>
         どのような問題を作成しますか。<br>
         ４つまとめてください。
      </p>
　　　<br>
      <%= f.text_area :q1, :size=>"115x5"%>
　　　<br>
      <%= f.text_area :q2, :size=>"115x5"%>
　　　<br>
      <%= f.text_area :q3, :size=>"115x5"%>
　　　<br>
      <%= f.text_area :q4, :size=>"115x5"%>
      <br>
      <%= f.submit '登録する' %>
<% end %>
 




