 <section class = "blog">
     <h2 class="blog-headline">トピック一覧</h2>
     <br>
     <%= button_to "新トピック作成", new_title_path, method: :get %>
     <div class="blog-box">
       <div class ="blog-item clearfix">
         <% @titles.each do |post| %>
         <h5 class="title_h3"><%= link_to post.title , title_communications_path(post.id) %>  <%= link_to post.created_at.strftime('%Y/%m/%d'),title_communications_path(post.id) %></h5> 
 　  　　<% end %>
      </div>    
     </div>    
     <br>
 <br>
 <div　class="button_side">
  <%= link_to :back do %>
     <button>前に戻る</button>
   <% end %> 

 </section>    
    <div class = "sidebar">
     <section class="popular">
        <h2 class="sidebar-headline">サイトメニュー</h2>
        <div class="sidebar-contents">
          <p class="popular-text">　<%= link_to '会員リスト', members_path %></p>      
          <p class="popular-text">　<%= link_to 'Tolk', titles_path %></p> 
          <p class="popular-text">　<%= link_to '過去問分析', answers_path %></p>
          <p class="popular-text">　<%= link_to '事例企業分析', drills_path %></p> 
  　　　 </div>
      </section>
   </div>


